@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=PT+Sans&display=swap');

body {
    font-family: Nunito, sans-serif;
    color: #00001D; /* main color */
    font-weight: 300;    
    margin: 0 30px;
    background: rgba(0, 0, 29, 0.3); /* main color in rgba */
}

h1, h2, h3, h4 {
    font-family: PT-Sans, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;    
    text-align: center;
    font-size: 180%;
    padding: 5px;
}

header {    
    text-align: center;    
    width: 90%;
    margin: 0 auto;       
}

header h1 {
    font-size: 1.5rem;
    height: 100px;
    line-height: 100px;    
    background: #FFEFCA; /* Twisted Spot Palette */
    border-radius: 15px;
    width: 80%;
    margin: 2% auto 0;
    padding: 0;
}

#game-area-scope > h2 {
    background: #FFEFCA;
    border-radius: 10px;
    width: 35%;
    margin: 1% auto 0;
    font-size: 1.5rem;
}

#game-rules {
    text-align: center;    
}

#game-rules button {
    text-decoration: none;    
    background: #F9F871; /* Generic Gradient */
    border-radius: 10px;    
    margin: 1% auto 0;
    border: 1px solid #00001D;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    font-size: 180%;
    padding: 10px;
    line-height: 80px;   
}

#game-rules button:hover {
    background: #D16E5E; /* Generic Gradient */
}

.pointer {
    cursor: pointer;
}

#game-area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;    
    align-items: center;
}

#btn-options {
    margin-top: 1%;
    text-align: center;
}

.btn {
    padding: 5px;
    margin-left: 15px;
    margin-right: 15px;
    background: #F1F1E6; /* Switch Palette */
    border-radius: 5px;
    font-size: 110%;
    border: 2px solid #00001D;
}

.btn:hover, .btn:active {
    background: #F9F871;
}

#message {
    text-align: center;
    text-align: center;    
    background: #F1F1E6;
    width: 35%;
    margin: 2% auto 1%;
    border-radius: 5px;
    font-size: 120%;
}

#game-area {
    text-align: center;    
}

#user p {
    border: 2px solid #158582; /* Neighbor Palette */
    border-radius: 5px;
    width: 50%;
    margin: 2% auto;
}

#user img {
    background: rgba(21, 133, 130, 0.4);
}

#computer p {
    border: 2px solid #D16E5E;
    border-radius: 5px;
    width: 50%;
    margin: 2% auto;
}

#computer img {
    background: rgba(209, 110, 94, 0.4);
}

#game-area img {    
    padding: 15px;
    border-radius: 15px;
}

footer h3 {
    background: #F9F871;
    border-radius: 10px;
    width: 35%;
    margin: 1% auto;
    border: 1px solid #00001D;
}

footer h3:hover {
    background: #D16E5E;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: rgba(255, 199, 161, 1);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 15px;
    width: 40%;
  }

  .modal-content p {
    text-align: center;
    margin-top: auto;
  }
  
  /* The Close Button */
  #btn-close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  #btn-close:hover,
  #btn-close:focus {
    color: #00001D;
    text-decoration: none;
    cursor: pointer;
  }

  #modal-rules h4 {
    font-size: small;    
  }

  .btn-disabled {
    pointer-events: none;
  }

  .final-score-message h4 {
    font-size: small;    
  }

  #final-score-win-close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  #final-score-win-close:hover,
  #final-score-win-close:focus {
    color: #00001D;
    text-decoration: none;
    cursor: pointer;
  }

  #final-score-lose-close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  #final-score-lose-close:hover,
  #final-score-lose-close:focus {
    color: #00001D;
    text-decoration: none;
    cursor: pointer;
  }

  .sheldon-container {
    text-align: center;    
  }

  .sheldon-image {
    max-width: 50%;
    border-radius: 15px;
  }

  /* media queries */

  /* media queries for laptops and desktops including big screens */

  @media screen and (max-width:1024px) {

    body {
      margin: 8px;
    }

    header {
      width: 100%;
    }

    header h1 {
      font-size: 1.2rem;
      height: auto;
      line-height: 50px;
      border-radius: 10px;
      padding: 5px;
    }

    #game-area-scope h2, #game-rules button {
      border-radius: 5px;
      width: 60%;
      margin: 3% auto;
      font-size: 1rem;
      line-height: 25px;   
    }

    #game-rules button {            
      padding: 15px;
      border-radius: 10px;
      font-size: 1.2rem;
      line-height: 40px;
    }    

    #game-area {
      flex-wrap: nowrap;
    }

    #user p {
      width: 85%;
    }

    #computer p {      
      width: 85%;      
    }    

    #game-area img {
      width: 80%;
    }

    footer h3 {
      font-size: 1rem;      
      width: 60%;
      line-height: 25px;
    }

    #message {
      font-size: 1.2em;
      width: 80%;
      line-height: 25px;
    }

    .modal {
      padding-top: 10px;
    }

    .modal-content {
      width: 70%;
      padding: 10px;
    }

    #modal-rules h4 {
      font-size: .9em;
      letter-spacing: 1px;
      margin-bottom: 10px;
  }

    #modal-rules p {
      font-size: 1em;
      margin-bottom: 0;
  }

  }

  /* media queries for tablets and mobile devices screens */

  @media screen and (max-width:768px) {    

    header h1 {
      font-size: 1rem;
      line-height: 25px;      
      height: auto;     
    }

    #game-rules button {
      font-size: 1rem;
    }

    .btn {
      margin-right: 1px;
      margin-left: 1px;
      font-size: 0.8em;
      text-transform: uppercase;
    }

    #user p {
      width: 75%;     
      font-size: .8rem;
    }

    #computer p {      
      width: 75%;     
      font-size: .8rem;
    }    

    #game-area img {
      width: 70%;
    }

    footer h3 {
      font-size: 0.9rem;   
    }

    #message {
      font-size: .9em;      
    } 

  }

  /* media queries mobile devices */

  @media screen and (max-width:480px) {    

    header h1 {
      font-size: .9rem;      
    }

    #game-rules button {
      font-size: .7rem;
      line-height: 25px;      
    }
    
    #game-area-scope h2 {
      font-size: .7rem;
    }

    #btn-options {
      margin-top: 3%;
    }

    .btn {
      font-size: 0.6em;
    }

    #user p {
      width: 80%;      
      font-size: small;
    }

    #computer p {
      width: 80%;      
      font-size: small;
    }
    
    footer h3 {
      width: 50%;
      font-size: .7rem;
      line-height: 25px;
      border-radius: 7px;
    }

    #modal-rules h4 {
      font-size: .6em;      
  }

    #modal-rules p {
      font-size: .9em;      
  }
  }

  @media screen and (max-width:365px) {
    .btn {
      font-size: 0.5em;
    }
  }
  